@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
.products-container {
  display: flex;
  flex-direction: column;

  .product {
    border: 1px solid black;
    padding: 10px;
    border-radius: 6px;
    margin: 10px;
  }
  .add_to_card {
    position: relative;
    width: 180px;
    height: 60px;
    margin: 20px;
    line-height: 60px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: rgb(96, 7, 7);
    transition: 0.5s;
    border: 1px solid #f47777;
    &:hover {
      border: 1px solid transparent;
      background: #bb3606 url(https://i.postimg.cc/wBXGXbWN/pixel.png);
      transition-delay: 0.8s;
      background-size: 180px;
      animation: animateButton 0.8s steps(8) forwards;
    }
  }
  @keyframes animateButton {
    0% {
      background-position-y: 0;
    }
    100% {
      background-position-y: -480px;
    }
  }
}
